# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editor
.idea/
.vscode/
*.swp

# screenshots
screenshot.png
user-screenshot*.png
error-screenshot.png
progress-screenshot.png
*.png.tmp

# uploads
user-upload/
uploads/
user-upload/
